.title-section {
  padding: 0 20px;
}
.title-section__title {
  font-family: 'Oswald Regular', Arial, sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}
.title-section__description{
  font-family: 'Oswald Regular', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}
