.title-section {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .title-section {
    padding: 0 29px;
  }
}

@media (min-width: 1440px) {
  .title-section {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.title-section__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .title-section__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 64px;
    margin-bottom: 56px;
  }
}

@media (min-width: 1440px) {
  .title-section__title {
    margin-top: 81px;
  }
}

.title-section__description {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  width: 90%;
}

@media (min-width: 768px) {
  .title-section__description {
    font-size: 20px;
    line-height: 30px;
    width: 345px;
    margin-left: 40px;
    margin-bottom: 52px;
  }
}

@media (min-width: 1440px) {
  .title-section__description {
    margin: 0;
  }
}
