@media (min-width: 768px) {
  .catalog {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 39px;
  }
}

@media (min-width: 1300px) {
  .catalog {
    padding: 0;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
  }
}

@media (min-width: 1300px) {
  .catalog__title {
    margin-top: 71px;
    margin-bottom: 0;
  }
}

.catalog__items {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .catalog__items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    margin-top: 165px;
  }
}

@media (min-width: 1300px) {
  .catalog__items {
    margin-top: 0;
  }
}

.catalog__item {
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media (min-width: 768px) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #ededed;
    width: 35.1%;
    margin-bottom: 140px;
    padding: 163px 38px 40px 38px;
  }
}

@media (min-width: 1300px) {
  .catalog__item {
    width: 169px;
    margin-bottom: -23px;
    margin-top: 165px;
  }
}

.footer-item {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    top: 26px;
    opacity: 0.2;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .footer-item {
    justify-content: space-between;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    padding-top: 164px;

    &::after {
      width: 60px;
      height: 60px;
      top: 55px;
    }
  }
}

.footer-item__title {
  margin-top: 80px;
  margin-bottom: 7px;
}

.footer-item__description {
  margin-top: 0;
  margin-bottom: 21px;
}


.footer-item__title,
.footer-item__description {
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-item__title,
  .footer-item__description {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-item__title {
    margin-top: 0;
    margin-bottom: 27px;
  }
}

@media (min-width: 1300px) {
  .footer-item__title {
    margin-bottom: 27px;
    width: 169px;
  }

  .footer-item__description {
    width: 169px;
  }
}
