.item__wrapper {
  display: flex;
  justify-content: space-between;
  height: 144px;
}

@media (min-width: 768px) {
  .item__wrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

.item__img-wrapper {
  width: 50%;
}

@media (min-width: 768px) {
  .item__link-img {
    position: absolute;
    top: -46px;
    width: 100%;
    right: 0;
  }

  .item__link-img--big {
    top: -82px;
  }

  // .item__img-wrapper {
  //   width: 100%;
  //   position: absolute;
  //   top: -46px;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  // .item__img-wrapper--big {
  //   top: -82px;
  // }
}

.item__info {
  width: 50%;
}

@media (min-width: 768px) {
  .item__info {
    width: 100%;
  }
}

.item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 22px;
  width: 70%;
  margin-bottom: 9px;
  color: #111111;
}

@media (min-width: 768px) {
  .item__title {
    text-align: center;
    margin-bottom: 21px;
    font-size: 20px;
    margin-top: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1300px) {
  .item__title {
    width: 80%;
  }
}

.item__description {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

@media (min-width: 768px) {
  .item__description {
    margin-bottom: 34px;
  }
}

.item__value,
.item__field,
.footer-item__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .item__value,
  .item__field,
  .footer-item__description {
    font-size: 16px;
    color: #444444;
  }
}

.item__value {
  text-align: left;
}

.item__field {
  text-align: right;
}

@media (min-width: 768px) {
  .item__cell {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

.footer-item {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    top: 26px;
    opacity: 0.2;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .footer-item {
    justify-content: space-between;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    padding-top: 164px;

    &::after {
      width: 60px;
      height: 60px;
      top: 55px;
    }
  }
}

.footer-item__title {
  margin-top: 80px;
  margin-bottom: 7px;
}

.footer-item__description {
  margin-top: 0;
  margin-bottom: 21px;
}


.footer-item__title,
.footer-item__description {
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-item__title,
  .footer-item__description {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-item__title {
    margin-top: 0;
    margin-bottom: 27px;
  }
}

@media (min-width: 1300px) {
  .footer-item__title {
    margin-bottom: 27px;
    width: 169px;
  }

  .footer-item__description {
    width: 169px;
  }
}
