@media (min-width: 768px) {
  .catalog {
    padding-left: 30px;
    padding-right: 13px;
    padding-top: 39px;
  }
}

@media (min-width: 1300px) {
  .catalog {
    padding: 0 91px 0 110px;
  }
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
  }
}

@media (min-width: 1300px) {
  .catalog__title {
    margin-top: 71px;
    margin-bottom: 0;
  }
}

.catalog__items {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .catalog__items {
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    margin-top: 165px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1300px) {
  .catalog__items {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
