.page-footer {
  padding: 39px 20px 10px 20px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 7px 50px 31px;
  }
}

@media (min-width: 1300px) {
  .page-footer {
    padding-left: 110px;
    padding-right: 87px;
    padding-top: 53px;
  }
}

.page-footer__logo {
  margin-bottom: 27px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .page-footer__logo {
    margin: 0;
  }
}

.page-footer__logo-link--active {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
