.page-footer {
  padding: 39px 20px 10px 20px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 7px 50px 31px;
  }
}

@media (min-width: 1300px) {
  .page-footer {
    padding-left: 110px;
    padding-right: 87px;
    padding-top: 53px;
  }
}

.page-footer__logo {
  margin-bottom: 27px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .page-footer__logo {
    margin: 0;
  }
}

.page-footer__logo-link--active {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__list {
  list-style: none;
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  padding: 0;
  align-items: center;
}

@media (min-width: 768px) {
  .social__list {
    border: none;
    margin: 0;
    margin-left: 18px;
  }
}

.social__item {
  margin: 24px 25px 15px 14px;
}

@media (min-width: 768px) {
  .social__item {
    margin: 0 15px;
  }
}

.social__link {
  fill: #676767;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #c8e0ba;
  }
}

@media (min-width: 768px) {
  .social__link-vkontakte {
    width: 30px;
    height: 16px;
  }
}

@media (min-width: 768px) {
  .social__link-instagram {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: 768px) {
  .social__link-facebook {
    width: 14px;
    height: 28px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  color: #444444;
  fill: #444444;
  align-items: center;

  &:hover > .copyright__logo {
    fill: #68b738;
  }

  &:active > .copyright__logo,
  &:active > .copyright__title {
    opacity: 0.3;
  }
}

.copyright__title {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.copyright__logo {
  margin-right: -7px;
}

@media (min-width: 768px) {
  .copyright__logo {
    margin-left: 14px;
    margin-right: 0;
  }
}
