.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .main-nav__list {
    justify-content: space-between;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 13px;
    padding-top: 24px;
  }
}

@media (min-width: 1300px) {
  .main-nav__list {
    padding-left: 110px;
    padding-right: 92px;
    padding-top: 54px;
  }
}

.main-nav__toggle {
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-nav__toggle--active {
  background-image: url("../img/icon-mobile-menu.svg");
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
