.page-header__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image--index {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .page-header__logo {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: 1300px) {
  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}

.page-header__link--active {
  position: relative;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .page-header__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .page-header__link--active {
    position: relative;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: -9px;
      left: 0;
      background-color: #68b738;
    }
  }
}

@media (min-width: 1300px) {
  .page-header__link {
    font-size: 20px;
    line-height: 25px;
  }

  .page-header__link--index {
    color: #ffffff;

    &::after {
      background-color: #ffffff;
    }
  }
}
