.page-footer {
  padding: 40px 20px 30px 20px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 50px 30px;
  }
}

.page-footer__logo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .page-footer__logo {
    margin: 0;
  }
}

.page-footer__logo-link--active {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__list {
  list-style: none;
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  padding: 0;
}

@media (min-width: 768px) {
  .social__list {
    border: none;
    margin: 0;
  }
}

.social__item {
  margin: 20px 20px;
}

@media (min-width: 768px) {
  .social__item {
    margin: 0 15px;
  }
}

.social__link {
  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #c8e0ba;
  }
}

.page-footer__copyright {
  min-width: 165px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  color: #444444;
  fill: #444444;
  align-items: center;

  &:hover > .copyright__title {
    color: #68b738;
  }

  &:hover > .copyright__logo {
    fill: #68b738;
  }

  &:active > .copyright__title {
    color: #c8e0ba;
  }

  &:active > .copyright__logo {
    fill: #c8e0ba;
  }
}

.copyright__title {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
