.extra {
  padding-left: 20px;
}

@media (min-width: 768px) {
  .extra {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .extra {
    margin-bottom: 85px;
  }
}

.extra__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: #111111;
  font-weight: normal;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    width: 30px;
    height: 3px;
    background-color: #68b738;
    margin-left: 20px;
    margin-top: 7px;
  }
}

@media (min-width: 768px) {
  .extra__title {
    font-size: 36px;
    line-height: 36px;

    &::after {
      margin-left: 35px;
    }

    &::before {
      content: "";
      flex-grow: 0;
      flex-shrink: 0;
      width: 30px;
      height: 3px;
      background-color: #68b738;
      margin-right: 35px;
      margin-top: 7px;
    }
  }
}

@media (min-width: 1440px) {
  .extra__title {
    &::before {
      margin-right: 40px;
      width: 70px;
    }
  }
}

.extra__additional {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  padding-bottom: 35px;
  position: relative;
}

@media (min-width: 768px) {
  .extra__additional {
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 75px;
  }
}

@media (min-width: 1440px) {
  .extra__additional {
    padding: 0;
  }
}

.additional__item {
  padding-bottom: 15px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .additional__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 40px 30px 40px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  .additional__item--last {
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: 1440px) {
  .additional__item {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 895px;
    align-items: center;
    padding: 5px 0;
  }
}

.additional__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: normal;
}

@media (min-width: 768px) {
  .additional__title {
    font-size: 20px;
    line-height: 20px;
    width: 170px;
  }
}

@media (min-width: 1440px) {
  .additional__title {
    width: 285px;
  }
}

.additional__subscribe {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .additional__subscribe {
    width: 240px;
    margin-bottom: 19px;
  }
}

@media (min-width: 1440px) {
  .additional__subscribe {
    width: 285px;
  }
}

@media (min-width: 1440px) {
  .extra__btn {
    width: 245px;
    height: 40px;
  }
}

.additional__value,
.additional__field {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional__value {
  text-align: left;
}

.additional__field {
  text-align: right;
}

@media (min-width: 768px) {
  .additional__value,
  .additional__field {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    min-width: 95px;
  }
}

.additional__footer {
  margin-top: 40px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .additional__footer {
    flex-direction: row;
    justify-content: space-around;
    border: none;
  }
}

@media (min-width: 1440px) {
  .additional__footer {
    position: absolute;
    flex-direction: column;
    margin: 0;
    right: 0;
    top: 0;
    width: 245px;
    height: 185px;
  }
}

.additional__picture {
  fill: #ffffff;
}

.additional__gift {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .additional__gift {
    width: 165px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .additional__gift {
    text-align: center;
  }
}
