.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .main-nav__list {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
  }
}

@media (min-width: 1440px) {
  .main-nav__list {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: 768px) {
  .site-list__user-menu {
    width: 60%;
  }
}

.site-list__user-items {
  padding: 0;
}

@media (min-width: 768px) {
  .site-list__user-items {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .site-list__user-items {
    justify-content: flex-end;
  }
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 11px;
  padding-bottom: 12px;
}

.site-list__menu {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .site-list__item {
    border: none;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .site-list__menu {
    margin-left: 40px;
  }
}

.site-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .site-list__header {
    padding: 0;
  }
}

.page-header__link {
  font-family: "Oswald Medium", "Arial", sans-serif;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  color: #000000;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-image--index {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .page-header__link--active {
    position: relative;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: -12px;
      left: 0;
      background-color: #68b738;
    }
  }
}

@media (min-width: 1440px) {
  .page-header__link--index {
    color: #ffffff;

    &::after {
      background-color: #ffffff;
    }
  }
}

.main-nav__toggle {
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
