.advantages {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .advantages {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: 768px) {
  .advantages {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.advantages__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .advantages__item {
    width: 354px;
    flex-direction: column;
    margin-bottom: 115px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -115px;
      left: 130px;
      z-index: -1;
      color: #f2f2f2;
      font-family: "Oswald Regular", "Arial", sans-serif;
      font-size: 281px;
    }
  }

  .advantages__item--first {
    &::before {
      content: "1";
    }
  }

  .advantages__item--second {
    &::before {
      content: "2";
    }
  }

  .advantages__item--third {
    &::before {
      content: "3";
    }
  }

  .advantages__item--fourth {
    &::before {
      content: "4";
    }
  }
}

.advantages__picture {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) {
  .advantages__picture {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
}

.advantages__picture--leaf {
  &::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

.advantages__picture--powder {
  &::after {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.advantages__picture--dining {
  &::after {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.advantages__picture--clock {
  &::after {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    width: 225px;
  }
}
