.categories__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .categories__list {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .categories__list {
    flex-direction: row;
    margin-left: 110px;
    margin-right: 110px;
    padding: 0;
  }
}

.categories__item {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 6px 21px 18px 21px;
}

@media (min-width: 768px) {
  .categories__item {
    padding: 40px 60px 59px 53px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1440px) {
  .categories__item {
    width: 38.3%;
    padding-left: 52px;
    padding-right: 50px;
    padding-top: 47px;
  }
}

.categories__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .categories__title-wrapper {
    position: relative;
    justify-content: flex-start;
  }
}

.categories__image {
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 768px) {
  .categories__image {
    position: absolute;
    right: 2px;
    top: 52px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1440px) {
  .categories__image {
    position: static;
    width: 100px;
    height: 100px;
    margin-right: 60px;
  }
}

.categories__image--slim {
  &::after {
    width: 35px;
    height: 49px;
    bottom: 5px;
    background-image: url("../img/icon-cat-slim.svg");
  }
}

@media (min-width: 768px) {
  .categories__image--slim {
    &::after {
      width: 140px;
      height: 194px;
      bottom: 18px;
    }
  }
}

@media (min-width: 1440px) {
  .categories__image--slim {
    &::after {
      width: 70px;
      height: 97px;
      bottom: 9px;
    }
  }
}

.categories__image--pro {
  &::after {
    width: 67px;
    height: 28px;
    bottom: 10px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

@media (min-width: 768px) {
  .categories__image--pro {
    right: 0;
    top: 51px;

    &::after {
      width: 268px;
      height: 112px;
      bottom: 45px;
    }
  }
}

@media (min-width: 1440px) {
  .categories__image--pro {
    &::after {
      width: 134px;
      height: 56px;
      bottom: 22px;
    }
  }
}

.categories__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  width: calc(100% - 69px);
}

@media (min-width: 768px) {
  .categories__title {
    font-size: 36px;
    line-height: 37px;
    font-weight: normal;
    margin-bottom: 21px;
  }
}

@media (min-width: 1440px) {
  .categories__title {
    width: auto;
    margin-top: 15px;
  }
}

.categories__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 4px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .categories__description {
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 0;
    margin-bottom: 56px;
    width: 64%;
  }

  .categories__description--second {
    width: 57.5%;
  }
}

@media (min-width: 1440px) {
  .categories__description {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 31px;
  }
}

.categories__link {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
  position: relative;
  padding-right: 34px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 26%;
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      transform: scaleX(1.38) translateX(4px);
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .categories__link {
    font-size: 20px;
    line-height: 20px;
    padding-right: 47px;

    &::after {
      top: 32%;
    }
  }
}
