.example {
  background-color: #f2f2f2;
  margin-top: 43px;
  padding: 16px 20px 35px 20px;
}

@media (min-width: 768px) {
  .example {
    margin: 0;
    background: none;
    padding: 44px 32px 0 30px;
  }
}

@media (min-width: 1440px) {
  .example {
    padding: 0;
    padding-top: 25px;
  }
}

.example__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin-bottom: 49px;
  }
}

@media (min-width: 1440px) {
  .example__title {
    margin-left: 111px;
    margin-right: 111px;
    margin-bottom: 75px;
  }
}

@media (min-width: 1440px) {
  .example__content {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2 72.5%, #eaeaea 72.5%);
    padding-left: 111px;
    padding-right: 111px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 95%;
}

@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 98%;
    margin-bottom: 27px;
  }
}

@media (min-width: 1440px) {
  .example__description {
    margin: 0;
    width: 100%;
    margin-top: 71px;
    margin-bottom: 68px;
  }
}

.example__list {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .example__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .example__list {
    width: 435px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
  }
}

.example__field-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .example__field-wrapper {
    width: 51.8%;
  }
}

@media (min-width: 1440px) {
  .example__field-wrapper {
    margin: 0;
    width: 365px;
  }
}

.example__field {
  display: flex;
  justify-content: center;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 16px;
  width: 124px;
}

@media (min-width: 768px) {
  .example__field {
    width: 160px;
    padding-bottom: 20px;
  }
}

.example__field-title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

@media (min-width: 768px) {
  .example__field-title {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__field-description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: block;
  position: absolute;
  width: 80px;
  background-color: #f2f2f2;
  bottom: -28px;
}

@media (min-width: 768px) {
  .example__field-description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 140px;
    bottom: -20px;
  }

  .example__field-description--short {
    width: 115px;
  }
}

.example__cost {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    line-height: 30px;
    width: 180px;
    text-align: right;
    margin-top: 9px;
  }
}

@media (min-width: 1440px) {
  .example__cost {
    width: 325px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 55px;
  }
}

@media (min-width: 768px) {
  .example__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2 50%, #eaeaea 50%);
    padding-bottom: 68px;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .example__wrapper {
    width: 610px;
    padding: 0;
    background: none;
    padding-top: 362px;
    padding-bottom: 68px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .example__before {
    width: 677px;
    height: 499px;
  }
}

.example__after {
  display: none;
}

@media (min-width: 1440px) {
  .example__before,
  .example__after {
    position: absolute;
    bottom: 137px;
    left: -33px;
  }
}

.slider {
  display: flex;
  align-items: center;
  margin-top: 28px;
  justify-content: center;
}

@media (min-width: 768px) {
  .slider {
    margin-top: 32px;
  }
}

@media (min-width: 1440px) {
  .slider {
    margin: 0;
  }
}

.slider__button {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .slider__button {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    padding: 4px 0 7px 0;
    border-bottom: 1px dashed #bebebe;
  }
}

.slider__toggle-field {
  width: 82px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .slider__toggle-field {
    width: 428px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    margin-left: 22px;
    margin-right: 22px;
  }
}

.slider__toggle-button {
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 10px;
  position: absolute;
  left: 6px;
}

.toggle-active {
  transform: translateX(35px);
}

@media (min-width: 768px) {
  .slider__toggle-button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 10px solid #ffffff;
  }
}
