.example {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 35px 20px 35px 20px;
}

@media (min-width: 768px) {
  .example {
    margin: 0;
    background: none;
  }
}

@media (min-width: 1440px) {
  .example {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.example__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
  }
}

@media (min-width: 1440px) {
  .example__content {
    display: flex;
    justify-content: space-between;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
}

.example__list {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .example__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .example__list {
    width: 430px;
  }
}

.example__field-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .example__field-wrapper {
    width: 370px;
  }
}

.example__field {
  display: flex;
  justify-content: center;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 16px;
  width: 124px;
}

@media (min-width: 768px) {
  .example__field {
    width: 165px;
  }
}

.example__field-title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

@media (min-width: 768px) {
  .example__field-title {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__field-description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: block;
  position: absolute;
  width: 80px;
  background-color: #f2f2f2;
  bottom: -28px;
}

@media (min-width: 768px) {
  .example__field-description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 140px;
    bottom: -20px;
  }

  .example__field-description--short {
    width: 115px;
  }
}

.example__cost {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    line-height: 24px;
    width: 180px;
    text-align: right;
  }
}

@media (min-width: 1440px) {
  .example__cost {
    width: 325px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .example__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2 50%, #eaeaea 50%);
    padding-bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .example__wrapper {
    width: 610px;
  }
}

.slider {
  display: flex;
  align-items: center;
}

.slider__button {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .slider__button {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    padding: 0;
    padding-bottom: 7px;
    border-bottom: 1px dashed #bebebe;
  }
}

.slider__toggle-field {
  width: 82px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .slider__toggle-field {
    width: 428px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
  }
}

.slider__toggle-button {
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 10px;
  position: absolute;
  left: 6px;
}

.toggle-active {
  transform: translateX(35px);
}

@media (min-width: 768px) {
  .slider__toggle-button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 10px solid #ffffff;
  }
}
